<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="com.bs.beyond.entity" />
    </typeAliases>
    <mappers>
        <mapper resource="com/bs/beyond/dao/BUserMapper.xml" />
<!--         <mapper resource="com/bs/beyond/dao/XxxMapper.xml" /> -->
    </mappers>
</configuration>